body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  padding: 0;
  background: #1363DF;

}

nav section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav section h1,
nav section {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

nav a,
nav a:active {
  font-weight: 700;
  padding: 0.25rem 1.5rem;
  color: #06283D;
  background: #fff;
}


nav a:hover {
  color: 06283D;
  background: #DFF6FF;
  text-decoration: none;
}

.navContent {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-left: 5px;
}

.App {
  min-height: 80vh;
  background-color: #DFF6FF;
}

section {
  margin-right: auto;
  padding: 0 1.5rem;
  width: 100%;
}

section h2 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}


.post h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;

}

.post-section {
  display: flex;
}

.posts-list {
  display: inline-block;
  margin: 2rem 0;
}

.post-excerpt {
  margin: 2rem 0;
  max-width: 600px;
  min-height: 5vh;
  padding: 2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.posts-container.disabled {
  opacity: 0.5;
}

.post-excerpt h3 {
  margin: 0;
  font-size: 1.5rem;
}

p.post-content {
  margin-top: 10px;
}

textarea {
  height: 40vh;
}

.button {
  display: inline-block;
  background: #1363DF;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
}

button.reaction-button {
  border: 1px solid #e0e3e9;
  padding: 5px 10px;
  margin: 5px 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#1363DF 95%,#0000) 50% 1.1px/13.4px 13.4px no-repeat,
       radial-gradient(farthest-side,#0000 calc(100% - 15.7px),rgba(71,75,255,0.1) 0);
  animation: spinner-aur408 1s infinite linear;
}

@keyframes spinner-aur408 {
  to {
     transform: rotate(1turn);
  }
}
#loader {
  margin: auto;
  display: table;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

/* Notifications list */

.notification {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.notificationsList .notification+.notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
}